.git
.github
palverse-web
palverse-admin
palverse-mobile
documentation
docs
*.zip
**/node_modules
**/.next
palverse-api/vendor
palverse-api/.env
palverse-api/.env.local
palverse-api/storage/logs/*
palverse-api/storage/framework/cache/*
palverse-api/storage/framework/sessions/*
palverse-api/storage/framework/views/*
palverse-api/bootstrap/cache/*.php
palverse-api/tests
palverse-api/.phpunit.result.cache
palverse-api/phpunit.xml
